<section id="content" class="row">
    <div class="contact-wrapper">
        <form class="contact grd-1" onsubmit="return false;">
            <div class="row" style="border-bottom: 1px solid #404040; padding-bottom: .5em">
                <div>
                    <img src="/public/image/me.jpg" />
                    <div>
                        <p>You like my work? <br /> Looking for a photographer or videographer?  <br /> <br /> Don´t hesitate to contact me by mail or fill out the contact form below.<br /> <br /> Chris </p>
                    </div>
                </div>

            </div>
            <br />

            <div class="notice-error hiddenOnLoad" v-show="error">
                <p>You have to fill all fields.</p>
            </div>

            <div class="notice-success hiddenOnLoad" v-show="success">
                <p>Mail was sent. I get in touch with you!</p>
            </div>

            <fieldset v-hide="success">
                <input type="text" v-model="mail.name" v-on:change="removeError" value="\{{mail.name}}" placeholder="Your name" />
                <input type="email" v-model="mail.from" v-on:change="removeError" value="\{{mail.from}}" placeholder="Your email" />
                <input type="text" v-model="mail.subject" v-on:change="removeError" value="\{{mail.subject}}" placeholder="Your subject" />
                <textarea v-model="mail.text" v-on:change="removeError" placeholder="Your message to me ...">\{{mail.text}}</textarea>
                <button v-on:click="sendMail">
                    send
                </button>
            </fieldset>
            <br />
        </form>


    </div>
    <div class="map-wrapper">
        <div id="map">
        </div>
    </div>
</section>
