<ul class="media-list grid">
    <li class="grid-sizer"></li>
    <li v-for="media in mediaList" class="grid-item" v-on:click="openMedia(media)">
        <span>
            <img :src="media.url.thumb" alt="" />
        </span>
        <img :src="media.url.thumb" alt="" />
    </li>
</ul>

<section class="layer media-show" v-show="current.url">
    <div class="preview">
        <img :src="current.url.full" alt="" />
    </div>
    <div class="description">
    </div>
</section>
