<section class="full" style="background-image: url('/public/image/nightstreet.jpg')">

    <img src="/public/svg/logo.svg" class="logo" alt="christopher fey" />

    <nav>
        <ul>
            <li>
                <a href="#">work</a>
            </li>
            <li>
                <a href="#">
                    discover
                </a>
            </li>
        </ul>
    </nav>

    <ul class="social">
        <li>
            <a href="#" taget="_blank" class="icn-facebook"></a>
        </li>

        <li>
            <a href="#" taget="_blank" class="icn-twitter"></a>
        </li>

        <li>
            <a href="#" taget="_blank" class="icn-youtube"></a>
        </li>

        <li>
            <a href="#" taget="_blank" class="icn-instagram"></a>
        </li>
    </ul>

</section>
