<section class="full" style="background: #000">
    <section class="full layer" data-depth="0.30" style="background-image: url('/public/image/nightstreet.jpg')">

        <img src="/public/svg/logo.svg" class="logo" alt="christopher fey" />

        <nav class="menu">
            <ul class="layer" data-depth="0.10">
                <li>
                    <a href="#">work</a>
                </li>
                <li>
                    <a href="/discover">
                        discover
                    </a>
                </li>
            </ul>
        </nav>

        <nav class="social">
            <ul class="layer" data-depth="0.10">
                <li>
                    <a href="#" taget="_blank" class="icn-facebook"></a>
                </li>

                <li>
                    <a href="#" taget="_blank" class="icn-twitter"></a>
                </li>

                <li>
                    <a href="#" taget="_blank" class="icn-youtube"></a>
                </li>

                <li>
                    <a href="#" taget="_blank" class="icn-instagram"></a>
                </li>
            </ul>
        </nav>
    </section>
</section>
