<div id="videoLayerBackground" v-show="current.url"></div>
<ul class="media-list ytGrid">
	<li v-for="media in mediaList" >
	<div class="ytContainer">
		<img :src="media.url.thumb" alt="" class="videoThumb" v-on:click="openMedia(media)" />
		<div class="playbuttonOnHover" v-on:click="openMedia(media)">
    	<div>Play</div>
  	</div>
		<div class="descContainer">
			<h3> \{{media.title}} </h3>
			  <br />
			<p> \{{media.description}} </p>
		</div>
	</div>
	</li>
</ul>


<section id="previewContainer" class="videolayer media-show hiddenOnLoad" v-show="current.url">
		<span class="close" v-on:click="closeMedia">
				<i class="fa fa-times"></i>
		</span>
		<youtube :video-id="current.videoId" player-width="100%" player-height="500px"></youtube>
		<!--<div  class="description ">
				<h3>\{{current.title}}</h3>
				<p>\{{current.description}} &nbsp;</p>
		</div>-->
</section>
