<ul class="media-list ytGrid">
	<li v-for="media in mediaList" class="wdt-50">
	<div class="ytContainer">
	<youtube :video-id="media.videoId" player-width="400" player-height="300"></youtube>
	</div>
	</li>
</ul>

