<ul class="media-list ytGrid">
	<li v-for="media in mediaList">
	
	<div class="ytContainer">
		<youtube :video-id="media.videoId" player-width="100%" player-height="300"></youtube>
		<div class="descContainer">
			<h3> \{{media.title}} </h3>
			<p> \{{media.description}} </p>
		</div>
	</div>
	</li>
</ul>

 