// breakpoints

$S:     540px;
$M:     640px;
$L:     1000px;
$X:     1200px;
$XX:     1800px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == MLANDSCAPE {
   @media only screen and (orientation:landscape) { @content; }
  }
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; }
  }
  @else if $canvas == X {
   @media only screen and (min-width: $X) { @content; }
  }
  @else if $canvas == XX {
   @media only screen and (min-width: $XX) { @content; }
  }
}
