html {
    height: 100%;
    width: 100%;
}

body {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
    min-width: 320px;
    background-color: #000;
}

body, input, textarea, select, button {
    font-family: 'Open Sans', sans-serif;
}

li, p, strong, span, h2, h3, h4, h5 {
    color: $color-text;
    display: inline-block;
}

%round {
    border-radius: 2px;
}

.no-scroll {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    overflow: hidden;
    margin-bottom: 10px;
}

#page {
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.with-header #page {
    top: $headerHeight;
}
