$color-background: #edefed;
$color-text: #353535;
$color-footer: #353535;
$color-green: #92b000;
$color-orange: #ffa800;
$color-red: #c95335;
$color-info: #1784c7;
$color-grey: #efefef;
$color-interact: #D7D7D7;

$headerHeight: 50px;
