<% if (fontfaceStyles) { %><% if (fontSrc1 && embed.length) { %>
@font-face {
    font-family: "<%= fontBaseName %>";
        src: <%= fontSrc1 %>;
    font-weight: 300;
    font-style: normal;
}
<% } %>
@font-face {
    font-family:"<%= fontBaseName %>";
        <% if (fontSrc1) { %>src: <%= fontSrc1 %>;<% }%>
        src: <%= fontSrc2 %>;
    font-weight: 300;
    font-style: normal;
}
<% } %>
<% if (iconsStyles) { %>
[class*='<%= mixinPrefix %>']:before, .icn:before {
    font-family: '<%= fontBaseName %>';
    font-style: normal;
    font-weight: 300;
}

/* Icons */
<% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { %>
.<%= mixinPrefix %><%= glyphs[glyphIdx] %>:before {
    content: "\<%= codepoints[glyphIdx] %>";
}
<% } %>
<% } %>
