input, .fake-input {
    font-size: 15px;
    display: block;
    width: 100%;
    background: #fff;
    @extend %cf;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid darken($color-grey, 20%);
    box-shadow: none;
}

input[type='text'] {
    height: 100%;
    padding: .6em;
}

.hidden {
    color: transparent;
    background: transparent;
    z-index: -1;
    border: transparent;
    position: absolute;
}

input.error {
    border: 1px solid $color-red;
}
