form label {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 1em;
}

form .info {
    color: #929292;
    font-size: 1.2em;
    padding: .4em 0 1em;
}
