::-webkit-input-placeholder {
   color: #515151;
}

:-moz-placeholder { /* Firefox 18- */
   color: #515151;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #515151;
}

:-ms-input-placeholder {
   color: #515151;
}
