.ytGrid {
      margin: auto;
	  width:50%;
		@include MQ(X) {
		max-width: none;
		}
	  li {
		  padding-top: 40px;

		  .ytContainer {

		  @include MQ(X) {
				width:95%;
			}
			height: 500px;
			position: relative;
		  }
		   @include MQ(X) {
			padding-top: 100px;
						  }
	  }

    .ytContainer:hover .videoThumb {
      opacity: 0.3;
    }

    .ytContainer:hover .playbuttonOnHover {
      opacity: 1;
    }
    .videoThumb
    {
      opacity: 1;
      display: block;
      width: 100%;
      height: 250px;
      transition: .5s ease;
      backface-visibility: hidden;
      cursor: pointer;
    }

    .playbuttonOnHover
    {
      transition: .5s ease;
       opacity: 0;
       position: absolute;
       top: 25%;
       left: 50%;
       transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
       cursor: pointer;

      div {
        background-color: $color-info;
        color: white;
        font-size: 16px;
        padding: 16px 32px;
      }
    }
	  .descContainer
	  {
		text-align: center;
		width: 100%;
		position: absolute;
		height: 30%;
		padding-top: 15px;
	/*	border: 1px solid #424446; */
		margin-top: 5px;
		h3{
			font-size: 1.5em;
			text-align: center;
			height: 36%;
      @include MQ(L) {
          height: 26%;
        }
      @include MQ(XX) {
        height: 20%;
       }
			border-bottom: 1px solid $color-info;
      width: 100%;
      padding-left: 2px;
      padding-right: 2px;
		}
		p {
			font-size: 0.7rem;
			padding-top: 10px;
			text-align: center;
      padding-left: 2px;
      padding-right: 2px;
		}
	  }
}
