.ytGrid {
      margin: auto;
	  width:70%;
	  
	  li {
		  width:33%;
		  padding-top:100px;
		  
		  .ytContainer { 
			width:95%;
			height: 500px;
			position: relative;
		  }
	  }
	  
	  .descContainer
	  {
		text-align: center;
		width: 100%;
		position: absolute;
		height: 30%;
		padding-top: 15px;
		h3{
			font-size: 1.3rem;
			text-align: center;
		}
		p {
			font-size: 0.8rem;
			padding-top: 10px;
			text-align: center;
		}
	  }
}
