.ytGrid {
      margin: auto;
	  width:50%;

	  li {
		  width:33%;
		  padding-top:100px;
	
		  .ytContainer {
			width:95%;
			height: 500px;
			position: relative;
		  }
		   @include MQ(M) {
			overflow: hidden;
			overflow-y: auto;
			width: 100%;
			padding-top: 40px;
						  }
	  }

	  .descContainer
	  {
		text-align: center;
		width: 100%;
		position: absolute;
		height: 30%;
		padding-top: 15px;
		border: 1px solid #424446;
		margin-top: 5px;
		h3{
			font-size: 1.0rem;
			text-align: center;
			height: 30%;
			border-bottom: 1px solid #1784c7;
      width: 100%;
      padding-left: 2px;
      padding-right: 2px;
		}
		p {
			font-size: 0.7rem;
			padding-top: 10px;
			text-align: center;
      padding-left: 2px;
      padding-right: 2px;
		}
	  }
}
