.article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em .5em;

    @inclue MQ(M) {
        padding: 2em 0;
    }

    h2 {
        font-size: 1.2rem;
        padding-bottom: .8rem;
    }

    p {
        font-size: .9rem;
        line-height: 1.4rem;
    }

    img {
        max-width: 100%;
    }
}

.image-border {
    border: 4px solid #000;
}
