header {
    background-color: darken($color-background, 10%);
    height: $headerHeight;
    display: block;
    width: 100%;
    top: 0;
    position: fixed;;
    z-index: 10;

    .logo {
        float: left;

        img {

            width: 70px;
            height: auto;
            @include MQ(M) {
                width: 100px;
            }
        }
    }

    .menu {
        float:right;

        a {
            color: #fff;
            padding: 1.3em .3em;
            font-size: 1.4em;
            text-decoration: none;
            display: inline-block;

            @include MQ(M) {
                font-size: 1.8em;
                padding: .7em 1em;
            }
        }
		
		li.selected a { color: #1784c7; }
    }
}
