#header {
    height: 50px;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);

    @include MQ(S) {
        height: 80px;
    }

    .inner {
        max-width: 100%;
        padding: 0 .5em;
        margin: 0 auto;
        @extend %cf;

        @include MQ(S) {
            padding: 0 3em;
        }
    }

    .logo {
        width: 130px;
        padding: 1em .2em;

        img {
            width: 100%;
        }

        @include MQ(S) {
            padding: .5em;
            width: 25%;

            img {
                width: 300px;
            }
        }
    }

    .hotline {
        padding: .2rem 0;
        float: right;
        width: 160px;
        img {
            width: 100%;
        }

        @include MQ(S) {
            padding: .2rem 0;
            float: right;
            width: 261px;
        }
    }
}
