.layer {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: $color-background;
}

.with-header {
    .layer {
        position: fixed !important;
        top: $headerHeight;
    }
}
