.layer {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: $color-background;
}

.with-header {
    .layer {
        position: fixed !important;
        top: $headerHeight;
    }
}

.videolayer {
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    min-height: 50%;
    width:50%;
    background-color: $color-background;
    z-index:3;
}

#videoLayerBackground {
position:absolute;
height:100%;
width:100%;
background:black;
opacity:.7;
z-index:2;
display:none;
}
