#map {
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;
    height: auto;
    width: 100%;
}


.map-wrapper, .contact-wrapper {
    position: relative;
    float: left;
}

.contact-wrapper {
    width: 100%;
    margin-bottom: 1em;

    @include MQ(M) {
        height: calc(100vh - 50px);
        overflow: hidden;
        overflow-y: auto;
        width: 60%;
        margin-bottom: 0;
    }

    @include MQ(L) {
        width: 50%;
    }

    @include MQ(X) {
        width: 40%;
    }
}

.map-wrapper {
    width: 100%;
    height: 10vh;
    overflow: hidden;

    @include MQ(M) {
        height: 100vh;
        width: 40%;

    }

    @include MQ(L) {
        width: 50%;
    }

    @include MQ(X) {
        width: 60%;
    }
}

.with-header {
    .map-wrapper {
        height: calc(100vh - 50px);
    }
}
