<header id="header" v-hide="settings.hideHeader">
    <a href="/" class="logo">
        <img src="/public/svg/logo.svg" alt="christopher fey" />
    </a>

    <nav class="menu">
        <ul>
            <li>
                <a  href="/work">
                    work
                </a>
            </li>
            <li>
                <a href="/discover">
                    discover
                </a>
            </li>
            <li>
                <a v-bind:class="{ selectedMenuItem: isSelectedMenuItem }" href="/contact">
                    contact
                </a>
            </li>
        </ul>
    </nav>
</header>
