<header id="header" v-hide="settings.hideHeader">
    <a href="/">
        <img src="/public/svg/logo.svg" class="logo" alt="christopher fey" />
    </a>

    <nav class="menu">
        <ul>
            <li>
                <a href="#">work</a>
            </li>
            <li>
                <a href="/discover">
                    discover
                </a>
            </li>
        </ul>
    </nav>
</header>
