<header id="header" v-hide="settings.hideHeader">
    <a href="/" class="logo">
        <img src="/public/svg/logo.svg" alt="christopher fey" />
    </a>

    <nav class="menu">
        <ul>
            <li>
                <a id="menuwork" href="/work">
                    work
                </a>
            </li>
            <li>
                <a id="menudiscover" href="/discover">
                    discover
                </a>
            </li>
            <li>
                <a id="menucontact" href="/contact">
                    contact
                </a>
            </li>
            <li>
                <a href="/imprint">
                    imprint
                </a>
            </li>
        </ul>
    </nav>
</header>
