<header id="header" v-hide="settings.hideHeader">
    <a href="/" class="logo">
        <img src="/public/svg/logo.svg" alt="christopher fey" />
    </a>

    <nav class="menu">
        <ul>
            <li>
                <a id="menuWork" href="/work">
                    work
                </a>
            </li>
            <li>
                <a id="menuDiscover" href="/discover">
                    discover
                </a>
            </li>
            <li>
                <a id="menuContact" href="/contact">
                    contact
                </a>
            </li>
        </ul>
    </nav>
</header>
