<section class="row-max pdg-30-btm">
    <h2 class="full">Buch dir deine Auszeit</h2>
    <div class="video grd-1">
        <iframe src="https://www.youtube.com/embed/O42WNbfaNWk?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
    </div>
</section>
