.media-list {
}
.grid{
  width: 84%;
  margin: auto;
  margin-top: 7%;
}
.grid-sizer,
.grid-item {
    width: 50%;
    @include MQ(M) {
        width: 33.3333%;
    }
    height: auto;
    border:1px solid;
    position: relative;
    span {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        height: auto;
        img {
            visibility: visible;
        }
    }
    img {
        width: 100%;
        filter: grayscale(100%);
    }
    cursor: pointer;

    &:hover {
        img {
            transition: .8s ease-in-out;
            filter: grayscale(0%);
        }
    }
}

.grid-item--width2 { width:  40%; }
.grid-item--width3 { width:  60%; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }
