.media-show {

    .preview {
        top: 0;
        left: 0;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: auto;
        margin:auto;

    /*    @include MQ(M) {
            width: 60%;
            padding-left: 1em;
        }

        @include MQ(L) {
            width: 70%;
        }

        */
        height: 100%;
        pointer-events: none;

        img {
            /* max-height: calc(100vh - 0px); */
            border: 2px solid;
            height: 100%;
            @include MQ(MPORTRAIT) {height: auto;}
            max-width:100%;
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
        }
    }

    .description {
        position: absolute;
        width: 100%;
        padding: 20px;
        background: rgba(0, 0, 0, 0.2);

        @include MQ(M) {
            font-size: 1.2em;

            width: 40%;
            right: 0;
            top: 0;
            bottom: 0;
            height: auto;
            padding: 0 1em;
            display: -ms-flex;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-justify-content: center;
            justify-content: center;
            -ms-flex-align: start;
            -webkit-align-items: flex-start;
            align-items: flex-start;
            font-size: 1.6em;
        }
        @include MQ(L) {
            font-size: 2em;
            width: 30%;

        }


        @import 'description';
    }

    .close {
        position: absolute;
        z-index: 150;
        top: 0;
        right: 20px;
        padding: 1em 1.4em;
        opacity: 1;
        border-radius: 4px;
        transition: opacity 0.3s, transform 0.3s;
        -webkit-transform: scale3d(0.6, 0.6, 1);
        transform: scale3d(0.6, 0.6, 1);
        cursor: pointer;
        background-color: $color-background;

        @include MQ(ML) {
            background-color: transparent;
        }

        i {
            font-size: 5em;
        }
    }

}

.portrait {
  height:100%;
}
